### Importing Modules

In [1]:
import data_cleaning as dc

##### Loading in the data

In [2]:
DataClean = dc.DataTransform()
DataClean.load_dataframe("loans.csv", 3, 'tail')

,Unnamed: 0,id,member_id,loan_amount,funded_amount,funded_amount_inv,term,int_rate,instalment,grade,sub_grade,employment_length,home_ownership,annual_inc,verification_status,issue_date,loan_status,payment_plan,purpose,dti,delinq_2yrs,earliest_credit_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_accounts,total_accounts,out_prncp,out_prncp_inv,total_payment,total_payment_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_payment_date,last_payment_amount,next_payment_date,last_credit_pull_date,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type
54228,54228,117045,70978,3500,3500.0,2225.0,36 months,7.43,108.77,A,A2,10+ years,MORTGAGE,300000.0,Not Verified,Aug-2013,Does not meet the credit policy. Status:Fully ...,n,debt_consolidation,1.00,0,Feb-1984,0,NaN,NaN,8,18,0.0,0.0,3915.37,2489.01,3500.00,415.37,0.0,0.00,0.00,Sep-2016,110.58,Sep-2016,May-2013,NaN,NaN,1,INDIVIDUAL
54229,54229,88854,70699,5000,5000.0,225.0,36 months,7.43,155.38,A,A2,4 years,RENT,200000.0,Not Verified,Aug-2013,Fully Paid,n,house,0.28,0,Mar-1995,0,0.0,0.0,2,2,0.0,0.0,5174.18,232.84,5000.00,174.18,0.0,0.00,0.00,Mar-2014,0.00,NaN,May-2013,NaN,NaN,1,INDIVIDUAL
54230,54230,72323,70694,5000,5000.0,350.0,36 months,11.54,164.98,C,C5,9 years,MORTGAGE,55000.0,Not Verified,Jul-2013,Does not meet the credit policy. Status:Charge...,n,other,10.00,0,Oct-1998,4,NaN,NaN,6,13,0.0,0.0,1501.19,104.60,966.58,352.34,0.0,182.27,1.84,Mar-2014,164.97,Dec-2014,Jan-2015,NaN,NaN,1,INDIVIDUAL

#### Formatting columns

Before formatting the columns, we need to view the data in each column first. We can do this by using the info method.

In [3]:
DataClean.view_column_dtypes()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54231 entries, 0 to 54230
Data columns (total 44 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Unnamed: 0                   54231 non-null  int64
 1   id                           54231 non-null  int64
 2   member_id                    54231 non-null  int64
 3   loan_amount                  54231 non-null  int64
 4   funded_amount                51224 non-null  float64
 5   funded_amount_inv            54231 non-null  float64
 6   term                         49459 non-null  object
 7   int_rate                     49062 non-null  float64
 8   instalment                   54231 non-null  float64
 9   grade                        54231 non-null  object
 10  sub_grade                    54231 non-null  object
 11  employment_length            52113 non-null  object
 12  home_ownership               54231 non-null  object
 13  annual_inc                   54231 non-null  float64
 14  verification_status          54231 non-null  object
 15  issue_date                   54231 non-null  object
 16  loan_status                  54231 non-null  object
 17  payment_plan                 54231 non-null  object
 18  purpose                      54231 non-null  object
 19  dti                          54231 non-null  float64
 20  delinq_2yrs                  54231 non-null  int64
 21  earliest_credit_line         54231 non-null  object
 22  inq_last_6mths               54231 non-null  int64
 23  mths_since_last_delinq       23229 non-null  float64
 24  mths_since_last_record       6181 non-null   float64
 25  open_accounts                54231 non-null  int64
 26  total_accounts               54231 non-null  int64
 27  out_prncp                    54231 non-null  float64
 28  out_prncp_inv                54231 non-null  float64
 29  total_payment                54231 non-null  float64
 30  total_payment_inv            54231 non-null  float64
 31  total_rec_prncp              54231 non-null  float64
 32  total_rec_int                54231 non-null  float64
 33  total_rec_late_fee           54231 non-null  float64
 34  recoveries                   54231 non-null  float64
 35  collection_recovery_fee      54231 non-null  float64
 36  last_payment_date            54158 non-null  object
 37  last_payment_amount          54231 non-null  float64
 38  next_payment_date            21623 non-null  object
 39  last_credit_pull_date        54224 non-null  object
 40  collections_12_mths_ex_med   54180 non-null  float64
 41  mths_since_last_major_derog  7499 non-null   float64
 42  policy_code                  54231 non-null  int64
 43  application_type             54231 non-null  object
dtypes: float64(20), int64(9), object(15)
memory usage: 18.2+ MB

Here we can see that the data across all columns mostly consists of int, float, object and some null values.

The columns that appear to contain null values are the following: `funded_amount`, `term`, `int_rate`, `employment_length`, `mths_since_last_delinq`, `mths_since_last_record`, `last_payment_date`, `next_payment_date`, `last_credit_pull_date`, `collections_12_mths_ex_med` and `mths_since_last_major_derog`.